---
import { cn } from "@synoem/ui/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  className?: string;
}

const { className, ...props } = Astro.props;
---

<div
  data-slot="sidebar-footer"
  data-sidebar="footer"
  class={cn("flex flex-col gap-2 p-2", className)}
  {...props}
>
  <slot />
</div>
